# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Local config
.env
*.sqlite3
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Ignore PyInstaller build folders
build/
dist/

# Ignore your app’s saved data files (optional)
data/data_files/

# Translations cache (if any)
*.mo