# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Local config
.env
*.sqlite3
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Translations cache (if any)
*.mo