{% extends "layout.html" %} {% block title %}{{ _('home_title') }}{% endblock %}
{% block content %}
<h1 class="mb-4">{{ _('discover_recipes') }}</h1>
<div class="row">
  {% for r in recipes %}
  <div class="col-md-3 mb-4">
    <div class="card h-100">
      {% if r.image %}
      <img src="{{ r.image }}" class="card-img-top" alt="{{ r.title }}" />
      {% endif %}
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ r.title }}</h5>
        <a
          href="{{ url_for('view_external', recipe_id=r.id) }}"
          class="mt-auto btn btn-primary"
        >
          {{ _('view_recipe') }}
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
