{% extends "layout.html" %}
{% block title %}{{ _('profile') }}{% endblock %}

{% block content %}
  <h1>{{ _('profile') }}</h1>
  <p><strong>{{ _('username') }}:</strong> {{ user.username }}</p>
  <p><strong>{{ _('email_address') }}:</strong> {{ user.email }}</p>

  <hr class="my-4" />

  <h2>{{ _('Change Password') }}</h2>
  <form method="POST" class="mt-4">
    <div class="mb-3">
      <label for="current_password" class="form-label">{{ _('current_password') }}</label>
      <input type="password" class="form-control" id="current_password" name="current_password" required>
    </div>
    <div class="mb-3">
      <label for="new_password" class="form-label">{{ _('new_password') }}</label>
      <input type="password" class="form-control" id="new_password" name="new_password" required>
    </div>
    <div class="mb-3">
      <label for="confirm_password" class="form-label">{{ _('confirm_new_password') }}</label>
      <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
    </div>
    <button type="submit" class="btn btn-primary">{{ _('update_password') }}</button>
  </form>
{% endblock %}
