<!DOCTYPE html>
<html>
  <body>
    <p>Thanks for signing up!</p>
    <p>Please confirm your account by clicking the link below:</p>
    <p><a href="{{ verify_url }}">{{ verify_url }}</a></p>
    <p>This link expires in 1 hour.</p>
  </body>
</html>
<!DOCTYPE html>
<html>
  <body>
    <p>Thanks for signing up!</p>
    <p>Please confirm your account by clicking the link below:</p>
    <p><a href="{{ verify_url }}">{{ verify_url }}</a></p>
    <p>This link expires in 1 hour.</p>
  </body>
</html>
